<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ControllersListView - список всех контроллеров
    <p>
        <a href="/">ROOT</a>
    </p>
    {% for controller in controllers %}
    <ul>
        <a href="{% url 'app_controller:controller' controller.pk %}">{{ controller.serial_number }}</a>
        
        

        <hr>
    </ul>
    {% endfor %}
</body>
</html>