<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ControllerDetailView - детализация контроллера
    <br>
    <br>
    controller_type: {{ controller.controller_type }}
    <br>
    serial_number: {{ controller.serial_number }}
    <br>
    controller_activity: {{ controller.controller_activity }}
    <br>
    controller_online: {{ controller.controller_online }}
    <br>
    controller_mode: {{ controller.controller_mode }}
    <br>
    <!-- data_settings_zone: {{ controller.data_settings_zone }}
    <br>
    other_data: {{ controller.other_data }} -->
    <br>
    checkpoint: {{ controller.checkpoint }}
    <p>
        <a href="{% url 'app_controller:controller_edit' controller.pk %}">update</a>
        <a href="{% url 'app_controller:controller_delete' controller.pk %}">delete</a>
    </p>
</body>
</html>