<!DOCTYPE html>
<html lang="en">

<style>
    
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ jasdjajd }}
    ROOT.HTML
    <p>
        <a href="{% url 'app_skud:checkpoints_list' %}">CheckpointsListView - список всех проходных</a>
    </p>

    <p>
        <a href="{% url 'app_controller:controllers_list' %}">ControllersListView - список всех контроллеров</a>
    </p>

    <p>
        <a href="{% url 'app_skud:profiles_list' %}">AccessProfileListView - список всех профилей доступа</a>
    </p>

    <p>
        <a href="{% url 'app_skud:staffs_list' %}">HR</a>
    </p>

    <p>
        <a href="{% url 'app_skud:monitor_list' %}">Monitor</a>
    </p>

</body>

</html>