{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>СКУД</title>
  <!-- <link rel="shortcut icon" type="image/png" href="./images/favicon.ico" /> -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/helper_functions.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table_style.css' %}" />

</head>

<body>
  <div style="min-height: calc(100vh - 30px)">
    <header class="wrapper">
      <!-- /////////////////////////////////////////// -->
      <div class="accordion" id="accordionExample"
        style="z-index: 1;background-color: #152500;border: 4px double #24482a;position: absolute;/*! margin-bottom: .5vh; */opacity: 0.95;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              #Настройки
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-staff-last-name-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckDefault">Фамилия</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-staff-first-name-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Имя</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-staff-patronymic-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckDisabled">Отчество</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-staff-department-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckDisabled">Департамент</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-checkpoint-name-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckDefault">Проходная</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"
                  id="switch-checkpoint-pass-datetime-header" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Отметка времени</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-checkpoint-way-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckDisabled">Направление</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switch-checkpoint-event-header"
                  checked="">
                <label class="form-check-label" for="flexSwitchCheckDisabled">Событие</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"
                  id="switch-checkpoint-event-header-status">
                <label class="form-check-label" for="flexSwitchCheckDisabled">Статус прохода</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /////////////////////////////////////////// -->
      <nav class="navbar header_navbar">
        <div class="container-fluid">
          <a class="navbar-bold-text" style="margin-left: 10vw;">ZIK-СКУД</a>
          <div>
            <span class="navbar-bold-text m-1">Проходная:</span>
            <span class="navbar-tag-success">{{ checkpoint }}</span>
          </div>
          <div>
            <span class="navbar-bold-text m-1">Контроллеры:</span>
            <span class="navbar-tag-success">{{ controllers|join:" | " }}</span>
          </div>
          <!-- <div>
            <span class="navbar-bold-text">Статус:</span>
            <span class="navbar-tag-warning"> не подключено</span>
          </div>
          <div>
            <span class="navbar-bold-text">Монитор</span>
          </div> -->
        </div>
      </nav>
    </header>
    <div class="wrapper">
      <div class="d-flex">
        <div class="col-3">
          <div class="divider-horizontal" role="separator" style="margin: 0px 0px 7px; top: 0px"></div>

          <div class="clock" style="margin: 0px 5px">
            <div align="center">
              <h1 style="color: black" id="clock">16.05.2023 13:35:42</h1>
            </div>
          </div>
          <script src="{% static 'js/clock.js' %}"></script>

          <div class="divider-horizontal" role="separator" style="margin: 0px 0px 7px; top: 0px"></div>

          <div class="img-container">
            <img style="
            width: auto;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;" id="staff-avatar" alt="Фото сотрудника" src="{% static 'images/default_avatar.png' %}" />
          </div>

          <div class="divider-horizontal" role="separator" style="margin: 0px 0px 7px; top: 0px"></div>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed"
                style="color: white; border: none !important" data-bs-toggle="collapse"
                data-bs-target="#last-name-collapse" aria-expanded="false">
                <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg
                    viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em"
                    fill="currentColor" aria-hidden="true" style="transform: rotate(90deg)">
                    <path
                      d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z">
                    </path>
                  </svg></span>
                <span class="m-1">Фамилия</span>
              </button>
              <div class="collapse show" id="last-name-collapse">
                <h3 id="last-name-text" class="staff-siderbar-text"></h3>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed"
                style="color: white; border: none !important" data-bs-toggle="collapse"
                data-bs-target="#first-name-collapse" aria-expanded="false">
                <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg
                    viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em"
                    fill="currentColor" aria-hidden="true" style="transform: rotate(90deg)">
                    <path
                      d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z">
                    </path>
                  </svg></span>
                <span class="m-1">Имя</span>
              </button>
              <div class="collapse show" id="first-name-collapse">
                <h3 id="first-name-text" class="staff-siderbar-text"></h3>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed"
                style="color: white; border: none !important" data-bs-toggle="collapse"
                data-bs-target="#patronymic-collapse" aria-expanded="false">
                <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg
                    viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em"
                    fill="currentColor" aria-hidden="true" style="transform: rotate(90deg)">
                    <path
                      d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z">
                    </path>
                  </svg></span>
                <span class="m-1">Отчество</span>
              </button>
              <div class="collapse" id="patronymic-collapse">
                <h3 id="patronymic-text" class="staff-siderbar-text"></h3>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed"
                style="color: white; border: none !important" data-bs-toggle="collapse"
                data-bs-target="#department-collapse" aria-expanded="false">
                <span role="img" aria-label="right" class="anticon anticon-right ant-collapse-arrow"><svg
                    viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em"
                    fill="currentColor" aria-hidden="true" style="transform: rotate(90deg)">
                    <path
                      d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z">
                    </path>
                  </svg></span>
                <span class="m-1">Департамент</span>
              </button>
              <div class="collapse" id="department-collapse">
                <h3 id="department-text" class="staff-siderbar-text"></h3>
              </div>
            </li>
          </ul>
          <span class="perimeter_counter_container_before"></span>

          <!--Кнопка для открытия модального окна с подробной информацией и отображения текущего counter-->
          <button type="button" data-bs-toggle="modal" data-bs-target="#peopleInTerritoryModal"
            class="perimeter_counter_container" id="perimeter_counter_container"
            onclick="loadPeopleInPerimeter(id_checkpoint)">

            <span>Сотрудники на территории: </span>
            <span id="perimeter_counter">0</span>
          </button>

          <span class="perimeter_counter_container_after"></span>

          <!--Модальное окно с подробной инфой о том кто находится на территории-->
          <div class="modal fade" id="peopleInTerritoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Список сотрудников на территории</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <ol id="modalBody"></ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <table id="staff-table">
            <thead>
              <tr id="switch-table">
                <!-- <th id="staff-last-name-header">Фамилия</th>
                <th id="staff-first-name-header">Имя</th>
                <th id="staff-patronymic-header">Отчество</th>
                <th id="staff-department-header">Департамент</th>
                <th id="checkpoint-name-header">Проходная</th>
                <th id="checkpoint-pass-datetime-header">Отметка времени</th>
                <th id="checkpoint-way-header">Направление</th>
                <th id="checkpoint-event-header">Событие</th>
                <th id="checkpoint-event-header">Статус прохода</th> -->
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <script>
            function SelectedAction() {
              const switchTable = document.getElementById("switch-table")

              switchTable.innerHTML = ``;

              // Фамилия выбранна 
              if (document.getElementById("switch-staff-last-name-header").checked) {
                switchTable.innerHTML += `<th id="staff-last-name-header">Фамилия</th>`
              }

              // Имя выбранна 
              if (document.getElementById("switch-staff-first-name-header").checked) {
                switchTable.innerHTML += `<th id="staff-first-name-header">Имя</th>`
              }

              // Отчество выбранна 
              if (document.getElementById("switch-staff-patronymic-header").checked) {
                switchTable.innerHTML += `<th id="staff-patronymic-header">Отчество</th>`
              }

              // Департамент выбранна 
              if (document.getElementById("switch-staff-department-header").checked) {
                switchTable.innerHTML += `<th id="staff-department-header">Департамент</th>`

              }

              // Проходная выбранна 
              if (document.getElementById("switch-checkpoint-name-header").checked) {
                switchTable.innerHTML += `<th id="checkpoint-name-header">Проходная</th>`

              }

              // Отметка времени выбранна 
              if (document.getElementById("switch-checkpoint-pass-datetime-header").checked) {
                switchTable.innerHTML += `<th id="checkpoint-pass-datetime-header">Отметка времени</th>`

              }

              // Направление выбранна 
              if (document.getElementById("switch-checkpoint-way-header").checked) {
                switchTable.innerHTML += `<th id="checkpoint-way-header">Направление</th>`

              }

              // Событие выбранна 
              if (document.getElementById("switch-checkpoint-event-header").checked) {
                switchTable.innerHTML += `<th id="checkpoint-event-header">Событие</th>`

              }

              //Статус прохода
              if (document.getElementById("switch-checkpoint-event-header-status").checked) {
                switchTable.innerHTML += `<th id="checkpoint-event-header">Статус прохода</th>`
              }
              const socketAddress = 'ws://' + window.location.host + '/live/webclient';
              const id_checkpoint = '{{ pk_checkpoint }}'
              fetch_data_in_server(id_checkpoint, socketAddress, trFill)
            }
            const formcheckinput = Array.from(document.getElementsByClassName("form-check-input"))

            formcheckinput.forEach(element => {
              element.addEventListener("click", SelectedAction)
            });

            SelectedAction()

          </script>
          <div style="display: none" id="initial_data" type="application/json">
            []
          </div>
          <div class="pagination justify-content-end">
            <button disabled="">&lt;&lt;</button><button
              disabled="">&lt;</button><button>&gt;</button><button>&gt;&gt;</button>
          </div>
          <script src="{% static 'js/table.js' %}"></script>
          <script>
            const selectRow = (event) => {
              const avatar_path =
                event.target.parentNode.getAttribute("staff_avatar_src");
              document.getElementById("staff-avatar").src = avatar_path;
              // специально оставил заполнение сайдера по номеру колонки, так как было лень писать реализацию на чистом js с поиском по классу.
              // Но это можно сделать, если колонки будут меняться
              document.getElementById("last-name-text").innerText =
                event.target.parentNode.cells[0].innerText;
              document.getElementById("first-name-text").innerText =
                event.target.parentNode.cells[1].innerText;
              document.getElementById("patronymic-text").innerText = event
                .target.parentNode.cells[2].innerText
                ? event.target.parentNode.cells[2].innerText
                : "Отсутствует";
              document.getElementById("department-text").innerText =
                event.target.parentNode.cells[3].innerText;
            };
            const selectLastRow = (avatar_path, last_name, first_name, patronymic_text, department_text) => {
              document.getElementById("staff-avatar").src = avatar_path;
              // специально оставил заполнение сайдера по номеру колонки, так как было лень писать реализацию на чистом js с поиском по классу.
              // Но это можно сделать, если колонки будут меняться
              document.getElementById("last-name-text").innerText = last_name;
              document.getElementById("first-name-text").innerText = first_name
              document.getElementById("patronymic-text").innerText = patronymic_text
                ? patronymic_text
                : "Отсутствует";
              document.getElementById("department-text").innerText = department_text;
            };

            const trFill = (row, setrow) => {
              const newRow = document.createElement("tr");
              newRow.setAttribute(
                "staff_avatar_src",
                row.event.event_initiator.employee_photo
              );
              // TODO: Поправить часовой пояс, в БД установлен нулевой(вроде)
              const time = formatDateTime(row.event.time);

              // Фамилия выбранна 
              if (document.getElementById("switch-staff-last-name-header").checked) {

                newRow.innerHTML += `<td >${row.event.event_initiator.last_name}</td>`
              }

              // Имя выбранна 
              if (document.getElementById("switch-staff-first-name-header").checked) {

                newRow.innerHTML += `<td>${row.event.event_initiator.first_name}</td>`
              }

              // Отчество выбранна 
              if (document.getElementById("switch-staff-patronymic-header").checked) {

                newRow.innerHTML += `<td>${row.event.event_initiator.patronymic}</td>`
              }

              // Департамент выбранна 
              if (document.getElementById("switch-staff-department-header").checked) {

                newRow.innerHTML += `<td>${row.event.event_initiator.department.name_departament}</td>`
              }

              // Проходная выбранна 
              if (document.getElementById("switch-checkpoint-name-header").checked) {

                newRow.innerHTML += `<td>${row.event.controller.checkpoint.description_checkpoint}</td>`
              }

              // Отметка времени выбранна 
              if (document.getElementById("switch-checkpoint-pass-datetime-header").checked) {

                newRow.innerHTML += `<td>${time}</td>`
              }

              // Направление выбранна 
              if (document.getElementById("switch-checkpoint-way-header").checked) {

                newRow.innerHTML += `<td>${row.event.flag}</td>`
              }

              // Событие выбранна 
              if (document.getElementById("switch-checkpoint-event-header").checked) {

                if (row.event.data_event.event == "Доступ запрешен") {
                  newRow.innerHTML += `<td style='background-color:red !important'>${row.event.data_event.event}</td>`;
                } else {
                  newRow.innerHTML += `<td>${row.event.data_event.event}</td>`;
                };
              }

              //Статус прохода
              if (document.getElementById("switch-checkpoint-event-header-status").checked) {

                switch (row.event.late_status) {
                  case 'не известно время входа':
                    newRow.innerHTML += `<td style='background-color:#b99f12e6 !important'>${row.event.late_status}</td>`;
                    break;
                  case 'не известно время выхода':
                    newRow.innerHTML += `<td style='background-color:#b99f12e6 !important'>${row.event.late_status}</td>`;
                    break;
                  case 'вход вне графика':
                    newRow.innerHTML += `<td style='background-color:#b99f12e6 !important'>${row.event.late_status}</td>`;
                    break;
                  default:
                    if (row.event.late_status.includes('опоздание на')) {
                      newRow.innerHTML += `<td style='background-color:#ff7917e6 !important'>${row.event.late_status.split('.')[0]}</td>`;
                    }
                    else {
                      newRow.innerHTML += `<td style='background-color:none !important'>${row.event.late_status.split('.')[0]}</td>`;
                    }
                }
              }
              newRow.addEventListener("click", selectRow);
              if (setrow) {
                selectLastRow(
                  row.event.event_initiator.employee_photo,
                  row.event.event_initiator.last_name,
                  row.event.event_initiator.first_name,
                  row.event.event_initiator.patronymic,
                  row.event.event_initiator.department.name_departament
                )
              }
              return newRow;
            };
            const socketAddress = 'ws://' + window.location.host + '/live/webclient';
            const id_checkpoint = '{{ pk_checkpoint }}'
            fetch_data_in_server(id_checkpoint, socketAddress, trFill)
          </script>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center text-lg-start">
    <div class="text-center" style="background-color: #081004; bottom: 0">
      <img src="{% static 'images/logo.svg' %}" id="logo" class="logo" alt="лого" />
      ZIK-СКУД ©2020 - 2023
    </div>
  </footer>
</body>

</html>