<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    CheckpointsListView - список всех проходных
    <p>
        <a href="/">ROOT</a>
    </p>
    <p>
        <a href="{% url 'app_skud:checkpoints_new' %}">create checkpoint</a>
    </p>
    {% for checkpoint in checkpoints %}
    <ul>
        name_checkpoint: {{ checkpoint }}

        <br>
        description_checkpoint: {{ checkpoint.description_checkpoint }}
        <br>
        data_checkpoint: {{ checkpoint.data_checkpoint }}
        <p>
            <a href="{% url 'app_skud:checkpoint' checkpoint.pk %}">detail(бессмысленно, но пусть будет)</a>
        </p>
        <p>
            <a href="{% url 'app_skud:checkpoint_edit' checkpoint.pk %}">update</a>
        </p>
        <p>
            <a href="{% url 'app_skud:checkpoint_delete' checkpoint.pk %}">delete</a>
        </p>
        <hr>
    </ul>
    {% endfor %}
</body>

</html>