<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    DepartmentListView - список всех департаментов <br>
    <a href="{% url 'app_skud:departament_new' %}">create_departament</a> ||
   
    <hr>
    {% for departament in departaments %}
        <a href="{% url 'app_skud:departament' departament.pk %}">
            <p>
                {{ departament.pk }}
                {{ departament.name_departament }}
                {{ departament.abbreviation }}
            </p>
        </a>
    <hr>
    {% endfor %}
</body>
</html>