<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ staff }} <br> <br>
    phone_number: {{ staff.phone_number }} <br>
    home_address: {{ staff.home_address }} <br> 
    car_number: {{ staff.car_number }} <br>
    car_model: {{ staff.car_model }} <br>
    department: {{ staff.department }} <br>
    position: {{ staff.position }} <br>
    access_profile: {{ staff.access_profile }} <br>
    pass_number: {{ staff.pass_number }} <br>    

    <p>
        <a href="{% url 'app_skud:staff_edit' staff.pk %}">update</a>
        <a href="{% url 'app_skud:staff_delete' staff.pk %}">delete</a>
    </p>
</body>
</html>