<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    StaffsListView - список всех сотрудников <br>
    <a href="{% url 'app_skud:staff_new' %}">create_staff</a> ||
    <a href="{% url 'app_skud:departaments_list' %}">departaments</a> ||
    <a href="{% url 'app_skud:positions_list' %}">positions</a> ||
    <hr>
    {% for staff in staffs %}
    <a href="{% url 'app_skud:staff' staff.pk %}">
        <p>
            {{ staff.pk }}
            {{ staff.last_name }}
            {{ staff.first_name }}
            {{ staff.patronymic }}
            {{ staff.phone_number }}
            {{ staff.car_number }}
            {{ staff.car_model }}
            {{ staff.department }}
            {{ staff.position }}
            {{ staff.access_profile }}
            {{ staff.pass_number }}   


          
           
            {% if staff.employee_photo %}
                <img src="{{ staff.employee_photo.url }}" alt="connect" style="max-height:50px">
            {% endif %}
        </p>
    </a>
    <hr>
    {% endfor %}
</body>
</html>